Repository DBG-Afelio/JS_fullstack_2020, pull requests merged in 2020-06, with the labels that each got.

#603 theory selecteur
  stagiaires/jerome/theorie/Les sélecteurs CSS.pptx
Labels: CSS

#26 Feature/nicolas/js ex2 billets
  stagiaires/nicolas/exercices/javaS_ex2/Home.html
  stagiaires/nicolas/exercices/javaS_ex2/script/script.js
  stagiaires/nicolas/exercices/javaS_ex2/styles/style.css
Labels: ***CODE***, CHAP2 - BOOLEENS

#585 add ex 4b.2
  stagiaires/thomas/logique-progra/boucles/exercice-4b-2.txt
Labels: ***PSEUDOCODE***, CHAP4 - BOUCLES

#588 add ex 4.5
  stagiaires/thomas/logique-progra/boucles/exercice-4.5.txt
Labels: ***PSEUDOCODE***, CHAP4 - BOUCLES

#597 add ex-3.5
  stagiaires/thomas/logique-progra/partie-3-alternative-pseudocode/exercice-3.5.txt
Labels: ***PSEUDOCODE***, CHAP3 - ALTERNATIVES

#590 add ex 5.3
  stagiaires/thomas/logique-progra/texte/exercice-5.3.txt
Labels: ***PSEUDOCODE***, CHAP5 - TEXTE

#600 add ex-6.7
  stagiaires/thomas/logique-progra/vecteurs/exercice-6.7.txt
Labels: ***PSEUDOCODE***, CHAP6 - VECTEURS

#598 add ex-5.8
  stagiaires/thomas/logique-progra/texte/exercice-5.8.txt
Labels: ***PSEUDOCODE***, CHAP5 - TEXTE

#584 add ex 10.1
  stagiaires/thomas/logique-progra/structures/exercice-10.1.txt
Labels: ***PSEUDOCODE***, CHAP10 - STRUCTURES

#586 add ex-4.3
  stagiaires/thomas/logique-progra/boucles/exercice-4.3.txt
Labels: ***PSEUDOCODE***, CHAP4 - BOUCLES

#587 add ex-4.4
  stagiaires/thomas/logique-progra/boucles/exercice-4.4.txt
Labels: ***PSEUDOCODE***, CHAP4 - BOUCLES

#589 add ex 5.2
  stagiaires/thomas/logique-progra/texte/exercice-5.2.txt
Labels: ***PSEUDOCODE***, CHAP5 - TEXTE

#541 Feature/assia/sprint1/js code/exercice validation formulaire
  exercice/html-css-js/demo.html
  stagiaires/assia/exercices/sprint1_JS/validationForm/consignes/validation.drawio
  stagiaires/assia/exercices/sprint1_JS/validationForm/consignes/validation.pdf
  stagiaires/assia/exercices/sprint1_JS/validationForm/img/grenntick.png
  stagiaires/assia/exercices/sprint1_JS/validationForm/img/redcross.png
  stagiaires/assia/exercices/sprint1_JS/validationForm/index.html
  stagiaires/assia/exercices/sprint1_JS/validationForm/script.js
  stagiaires/assia/exercices/sprint1_JS/validationForm/style.css
Labels: ***CODE***, CSS, HTML, JS

#402 Feature/jerome/ticket
  stagiaires/jerome/exercices/Javascript/script/script.js
  stagiaires/jerome/exercices/Javascript/style/style.css
  stagiaires/jerome/exercices/Javascript/ticket.html
  stagiaires/jerome/exercices/Javascript/tram.jpg
Labels: ***CODE***, CHAP2 - BOOLEENS

#604 feature/assia/sprint2/js-tableaux-methods
  stagiaires/assia/exercices/JS/fonctions.js
  stagiaires/assia/exercices/JS/function.js
  stagiaires/assia/exercices/JS/tableaux.js
Labels: JS, NodeJs

#521 PC logique-7-5
  stagiaires/pierrecast/exercices/logique/7.5.txt
Labels: ***PSEUDOCODE***, CHAP7 - VECTEURS - Tableaux 2D

#607 PC NodeJs serie2-functions
  stagiaires/pierrecast/exercices/NodeJS/functions.js
  stagiaires/pierrecast/exercices/NodeJS/serie1-tableaux.js
  stagiaires/pierrecast/exercices/NodeJS/serie2-fonctions.js
Labels: JS, NodeJs

#606 PC NodeJs serie3-functions
  stagiaires/pierrecast/exercices/NodeJS/serie3-functions.js
Labels: ***CODE***, CHAP9 - FONCTIONS, JS, NodeJs

#416 PC - JS - ex 3.5b TVA
  stagiaires/pierrecast/exercices/JS/JS-ex-3-5b-TVA/css/theme.css
  stagiaires/pierrecast/exercices/JS/JS-ex-3-5b-TVA/index.html
  stagiaires/pierrecast/exercices/JS/JS-ex-3-5b-TVA/js/script.js
Labels: ***CODE***, CHAP4 - BOUCLES

#20 PC - JS - ex 5 todolist
  stagiaires/pierrecast/exercices/JS-ex-5-todolist/css/theme.css
  stagiaires/pierrecast/exercices/JS-ex-5-todolist/index.html
  stagiaires/pierrecast/exercices/JS-ex-5-todolist/js/index.js
Labels: ***CODE***, annexes/facultatifs

#610 PC - JS Hexagone
  stagiaires/pierrecast/exercices/JS-ex-maree-hexa/css/maree.css
  stagiaires/pierrecast/exercices/JS-ex-maree-hexa/img/wood-pattern.png
  stagiaires/pierrecast/exercices/JS-ex-maree-hexa/js/maree.js
  stagiaires/pierrecast/exercices/JS-ex-maree-hexa/maree.html
Labels: ***CODE***, CHAP9 - FONCTIONS, JS

#395 PC - JS - ex 2.12b ticket
  stagiaires/pierrecast/exercices/JS/JS-ex-2-12b-Ticket/css/theme.css
  stagiaires/pierrecast/exercices/JS/JS-ex-2-12b-Ticket/index.html
  stagiaires/pierrecast/exercices/JS/JS-ex-2-12b-Ticket/js/date.js
Labels: ***CODE***, CHAP2 - BOOLEENS

#52 PC - JS - Démineur
  stagiaires/pierrecast/exercices/JS-ex-demineur/css/theme.css
  stagiaires/pierrecast/exercices/JS-ex-demineur/img/level1.png
  stagiaires/pierrecast/exercices/JS-ex-demineur/img/level2.png
  stagiaires/pierrecast/exercices/JS-ex-demineur/img/level3.png
  stagiaires/pierrecast/exercices/JS-ex-demineur/img/wood-pattern.png
  stagiaires/pierrecast/exercices/JS-ex-demineur/index.html
  stagiaires/pierrecast/exercices/JS-ex-demineur/js/index.js
Labels: ***CODE***, annexes/facultatifs

#19 PC - JS - ex 4 Mastermind
  stagiaires/pierrecast/exercices/JS-ex-4-mastermind/css/theme.css
  stagiaires/pierrecast/exercices/JS-ex-4-mastermind/img/wood-pattern.png
  stagiaires/pierrecast/exercices/JS-ex-4-mastermind/index.html
  stagiaires/pierrecast/exercices/JS-ex-4-mastermind/js/index.js
Labels: ***CODE***, annexes/facultatifs

#621 Exo panier type script -Flo
  stagiaires/florent/POO/playground/package-lock.json
  stagiaires/florent/exercices/Exo-TypeScript/npm_Panier/package-lock.json
  stagiaires/florent/exercices/Exo-TypeScript/npm_Panier/package.json
  stagiaires/florent/exercices/Exo-TypeScript/npm_Panier/src/affichageDetailArticle.ts
  stagiaires/florent/exercices/Exo-TypeScript/npm_Panier/src/articles.ts
  stagiaires/florent/exercices/Exo-TypeScript/npm_Panier/src/detailArticle.ts
  stagiaires/florent/exercices/Exo-TypeScript/npm_Panier/src/index.html
  stagiaires/florent/exercices/Exo-TypeScript/npm_Panier/src/magasin.ts
  stagiaires/florent/exercices/Exo-TypeScript/npm_Panier/src/main.ts
  stagiaires/florent/exercices/Exo-TypeScript/npm_Panier/src/oderedArticle.ts
  stagiaires/florent/exercices/Exo-TypeScript/npm_Panier/src/panier.ts
  stagiaires/florent/exercices/Exo-TypeScript/npm_Panier/src/sourceJSON.ts
  stagiaires/florent/exercices/Exo-TypeScript/npm_Panier/tsconfig.json
  stagiaires/florent/exercices/Exo-TypeScript/npm_Panier/webpack.config.js
  stagiaires/florent/exercices/Exo-TypeScript/package-lock.json
  stagiaires/florent/exercices/Exo-TypeScript/package.json
  stagiaires/florent/exercices/Exo-TypeScript/playground/package-lock.json
  stagiaires/florent/exercices/Exo-TypeScript/playground/package.json
  stagiaires/florent/exercices/Exo-TypeScript/playground/src/exo.ts
  stagiaires/florent/exercices/Exo-TypeScript/playground/src/main.ts
  stagiaires/florent/exercices/Exo-TypeScript/playground/tsconfig.json
  stagiaires/florent/exercices/Exo-TypeScript/tsconfig.json
  stagiaires/florent/exercices/Exo-TypeScript/webpack.config.js
  stagiaires/florent/exercices/Logique/Exo 8.4 - Nbre premier
Labels: TypeScript, objet

#543 PC - JS - Validation JS du Formulaire
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/all.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/all.min.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/brands.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/brands.min.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/fontawesome.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/fontawesome.min.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/regular.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/regular.min.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/solid.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/solid.min.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/svg-with-js.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/svg-with-js.min.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/theme 2.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/theme.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/v4-shims.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/v4-shims.min.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/css/validate.css
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/arrow.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/arrow50.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/arrowL.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-0-0.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-1-1.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-1-2.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-1-3.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-1-4.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-11.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-2-1.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-2-2.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-2-3.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-2-4.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-3-1.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-3-2.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-3-3.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/avataaars-3-4.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/img/css_sprites.png
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/js/script.js
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/js/test.js
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/validJS.html
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-brands-400.eot
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-brands-400.svg
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-brands-400.ttf
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-brands-400.woff
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-brands-400.woff2
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-regular-400.eot
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-regular-400.svg
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-regular-400.ttf
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-regular-400.woff
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-regular-400.woff2
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-solid-900.eot
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-solid-900.svg
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-solid-900.ttf
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-solid-900.woff
  stagiaires/pierrecast/exercices/HtmlCss/Formulaire/webfonts/fa-solid-900.woff2
Labels: ***CODE***, CSS, HTML, JS
